* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* background-image: url(image/bgLight.png); */
    background-size: contain;
    transition: background-image .5s ease-in-out
    
   
}

.dark-mode {
    background-image: url(image/bgDark.png);
    background-size: contain;
    
    transition: background-image .5s ease-in-out
    
    
}
#yudBackground{
    mask-image: url(image/bgLight.png);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
    z-index:-2;
    
}

.topcontent{
    position: relative;
    min-height: 100vh;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 251, 251);
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
    /* z-index: 1; */

}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

}

.menu li {
    display: inline-block;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-size: 22px;

}

.menu ul li a {
    filter: drop-shadow(0 0 10px rgb(245, 245, 245))drop-shadow(0 0 15px rgb(248, 246, 246));
    color: rgb(0, 0, 0);

}

.menu ul li a:hover {
    color: rgb(247, 190, 115);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
    /* margin: 24px; */
    width: 50px;
    height: 50px;
    animation: zoom-in-zoom-out 0.3s ease infinite;
}

@media screen and (max-width: 835px) {
    .menu {display: block;}
    .menu ul {display: block;}
  }

.nav-menu1{
    display: flex;
}

#exampleModal {
    color: black;
}
.modal-content{
    background-color: #1dd463;
    background-image: linear-gradient(#1dd463, #171613);
}

.modal-title {
    color:black;
    padding-top:10px;
    text-align: center;
}

#textUsername {
    background-image: url(image/yoyo.gif);
    border-radius: 5px;
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    /* font-size: 1.5em; */
    padding: 0.5em;
    width: 100%;

    position: relative;
    text-transform: uppercase;
}

/* มายนัด */
.coffeeshop {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 100vw;
    background-color: antiquewhite;
    
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.heading img {
    height: 4rem;
    margin-bottom: 1rem;
}

.heading h3 {
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
}
.modal-backdrop {
    display: none;
}
.heading1{
    font-family: "item", cursive;
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    color: darkslategrey;
    filter: drop-shadow(0 0 10px rgb(245, 245, 245))drop-shadow(0 0 15px rgb(248, 246, 246));
}
.heading1 span{
    font-family: "item", cursive;
    color: crimson;
}
.coffeeshop .box-container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 45rem);
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
}

/* .coffeeshop .box1 {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    max-width: 500px;
    max-height: 700px;
    text-align: center;

    color: rgb(0, 0, 0);
    filter: drop-shadow(0 0 10px rgb(245, 245, 245))drop-shadow(0 0 15px rgb(248, 246, 246));
} */
.dark-mode .box1 {
    /* background-color: rgb(0, 0, 0); */
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    max-width: 500px;
    max-height: 700px;
    text-align: center;

    color: rgb(0, 0, 0);
    filter: drop-shadow(0 0 10px rgb(253, 201, 132))drop-shadow(0 0 15px rgb(253, 201, 132));

}
/* New */
.coffeeshop .box-container1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.coffeeshop .box-container1 .box1{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
    /* border: 1rem solid rgba(0, 0, 0, .3); */
    cursor: pointer;
    border-radius: .5rem;
    min-height: 350px;
}
.coffeeshop .box-container1 .box1 .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%; left: 0;
    transition: all .3s ease;
}
.coffeeshop .box-container1 .box1 .content1{
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    min-height: 350px;
}
.coffeeshop .box-container1 .box1 .content1 img{
    margin: 1.5rem 0;

}
.coffeeshop .box-container1 .box1 .content1 h3{
    font-family: "item", cursive;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}
.coffeeshop .box-container1 .box1 .content1 p{
    font-size: 1.8rem;
    color: #666;
    padding: 1rem 0;
}
.coffeeshop .box-container1 .box1:hover .image{
    top: 0;
}

/* .count{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 20px;
}
.count .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background:#fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;

}
.count .icons i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #eee;
    color: var(--black);
    text-align: center;
}
.count .icons .contenti h3{
    color: #333;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    text-align: center;
}
.count .icons:hover{
    background: rgb(255, 119, 194)
}
.count .icons:hover i{
    color: rgb(17, 0, 255);
} */
.icons-container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #eee;
    background-color: antiquewhite;
}

.icons-container1 .icons1{
    background:#fff;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
    gap:1.5rem;
}

.icons-container1 .icons1 i{
    height:5rem;
    width:5rem;
    line-height:5rem;
    font-size:2.5rem;
    color:black;
    background:#eee;
    text-align: center;
    border-radius: 50%;
}

.icons-container1 .icons1 .content1 h3{
    font-family: "item", cursive;
    font-size: 2.5rem;
    color:#E44C4C;
    text-align: center;
    font-weight: bold;
}
.icons-container1 .icons1 .content1 p{
    font-size: 1.6rem;
    color: #666;
    text-align: left;
}

.icons-container1 .icons1:hover{
    background:#333;
}

.icons-container1 .icons1:hover i{
    background:yellow;
}

.icons-container1 .icons1:hover .content1 h3{
    color:#fff;
}
.icons-container1 .icons1:hover .content1 p{
    color:#fff;
}




.coffeebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 3rem 2rem;
    max-width: 100vw;
    margin: 0 auto;
}

.coffeebar .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.Cart{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cart-container{
    min-width: 100%;
    min-height: 60vh;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    padding: 20px;
}

.Cart-Heading{
    font-size: 20px;
    font-family: Open sans-serif;
    font-weight: 700;
    color: #2F3841;
}

.Action{
    font-size: 14px;
    font-family: Open sans-serif;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
   }

.counter-item{
    max-height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.btn-counter{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.counter{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
}

.price-item{
    height: 100%;
    text-align: right;
}

.box-cart{
    width: 100%;
    height: 100%;
    display: block;
}



.coffeebar .box-container .box {
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
}

.coffeebar .box-container .box:hover{
    padding: 10px;
    border: 1px solid var(--black);
    transition: 0.4s;
}

.coffeebar .box-container .box .active{
    display: inline-block;
}

.coffeebar .box-container .box img {
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}

.coffeebar .box-container .box .price {
    position: absolute;
    top: 3rem;
    left: 3rem;
    background: var(--red);
    color: #fff;
    font-size: 2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.coffeebar .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.buttonsCart{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
   border-radius: 8px;

}

.buttonsCart h5{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    width: 50%;
    color:rgb(0, 0, 0);
    border:.1rem solid #84673d;
 }

.btn-cart{
    background-color: white;
    color: black;
    border: 2px solid #84673d;
 }

.btn-cart:hover{
    background-color: #84673d;
    color: rgb(0, 0, 0);
 }

.addCart{
    background-color: #84673d !important; 
 }

 /* modal box */
.modalBox {
    position: fixed;
    width: 0%;
    height: 0%;
    display: block;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    background: rgba(33, 37, 41, 0.3);
  }
  
  .modalBox .modalBox-body {
    width: 0%;
    height: 0%;
    -webkit-transition: height .4s;
    transition: height .4s;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .modalBox.show {
    opacity: 1;
    visibility: visible;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .modalBox.show .modalBox-body {
    width: 70%;
    height: 450px;
  }
  
  /* page navbar */
  .page-navbar {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 110px;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .page-navbar {
      -webkit-transition: none;
      transition: none;
    }
  }
  
  .page-navbar .nav-navbar {
    height: 100%;
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .page-navbar .nav-navbar .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
  }
  
  .page-navbar .nav-navbar .nav-link {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    flex-grow: 1;
    color: #f8f9fa;
    font-weight: bold;
    text-decoration: none;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1300 - 300)));
  }
  
  .page-navbar .nav-navbar .nav-link i {
    font-weight: bold;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 1px;
    font-size: 14px;
  }
  
  .page-navbar .nav-navbar .nav-link img {
    width: calc(25px + (45 - 25) * ((100vw - 300px) / (1300 - 300)));
  }
  
  .page-navbar .nav-navbar .search {
    position: relative;
  }
  
  .page-navbar .nav-navbar .search .search-wrapper {
    position: absolute;
    top: 170%;
    right: 25%;
    width: 100%;
    background: rgba(33, 37, 41, 0.9);
    border-radius: 0.25rem;
    padding: 10px;
    border: 1px solid #495057;
    min-width: 250px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .page-navbar .nav-navbar .search .search-wrapper {
      -webkit-transition: none;
      transition: none;
    }
  }
  
  .page-navbar .nav-navbar .search .search-wrapper:after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 3px;
    display: block;
    background: inherit;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: -8px;
    right: 40px;
    border-top: 1px solid #495057;
    border-left: 1px solid #495057;
  }
  
  .page-navbar .nav-navbar .search .search-wrapper input {
    border-radius: 0.25rem;
    border-width: 1px;
    padding: 5px 8px;
    margin: 0;
  }
  
  .page-navbar .nav-navbar .search .search-wrapper.show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  
  .page-navbar.affix {
    background: #212529;
    height: 70px;
    border-bottom: 1px solid rgba(173, 181, 189, 0.1);
  }
  
  .page-navbar.affix .nav-link {
    color: #fff;
  }

  #btn_submit{
    margin-left: 90px;
  }
  
  